@{
    ViewData["Title"] = "Rule";
}
<h1>@ViewData["Title"]</h1>
<p>
    <a href="https://en.wikipedia.org/wiki/Gomoku">Gomoku</a> is an abstract strategy board game. Also called Gobang or Five in a Row, it is traditionally played with Go pieces (black and white stones) on a go board with 15x15 intersections.
</p>
<p>Black plays first if white did not just win, and players alternate in placing a stone of their color on an empty intersection. The winner is the first player to get an unbroken row of five stones horizontally, vertically, or diagonally.</p>
<p>Enable <a href="https://en.wikipedia.org/wiki/List_of_Go_terms#Gote,_sente_and_tenuki">"Sente"</a> to make the first move against Computer. The player who makes the first move was long known to have a big advantage. Disable it to let computer move first will be much more harder. </p>